.InfoBox_Header
    {
    &_oldSchool
        {
            &_Left_Border_true
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 40px 0 0 40px;
                    overflow: hidden;
                    transition: width 1s ease-in-out
                }
            &_Left_Border_false
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 0%;
                    border-radius: 40px 0 0 40px;
                    overflow: hidden;
                    transition: width 0.5s ease-in-out 2s
                }    
            &_Right_Border_true
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 0 40px 40px 0;
                    overflow: hidden;
                    transition: width 1s ease-in-out
                }
            &_Right_Border_false
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 0%;
                    border-radius: 0 40px 40px 0;
                    overflow: hidden;
                    transition: width 0.5s ease-in-out 2s
                }
        }
    &_newSchool
        {
            &_Left_Border_true
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 40px 0 0 40px;
                    overflow: hidden;
                }
            &_Left_Border_false
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 40px 0 0 40px;
                    overflow: hidden;
                }    
            &_Right_Border_true
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 0 40px 40px 0;
                    overflow: hidden;
                }
            &_Right_Border_false
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: #0e1350;
                    width: 100%;
                    border-radius: 0 40px 40px 0;
                    overflow: hidden;
                }
        }
    }

.Border_line
    {
        width: 100%;
        height: 4px;
        background-color: #181979;
        &_space
            {
                height: 4px;
            }
    }