header
    {
        background-color: #2d38bb;
        height: auto;
        height: auto;
        h1 
            {
                font-size: 34px;
                font-weight: 700;
                margin: 0;
            }
    }