.ProjetsGallery
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 40px;
    }
.projetsGitLogo
    {
        width: 32px;
        border-radius: 6px;
        margin-left: 20px;
    }