@import '../../Tools/Variables.scss';

@keyframes xpos1 
    {
        from {
            background-position: -800px -800px, -300px -800px
        }
        to { 
            background-position: -300px -600px, -800px -833px
        }
    }

.main
    {
    &_oldSchool
        {
            display: flex;
            flex-direction: column;
            background-blend-mode: difference;
            animation: 12s linear 1s infinite alternate xpos1;
        }
    &_newSchool
        {
            display: flex;
            flex-direction: column;
            background-color: $newSchoolBackColor;
        }
    }



    
//DESKTOP
@media screen and (min-width: $desktop)
{
.main
    {
    &_oldSchool
        {
            flex-direction: row;
        }
    &_newSchool
        {
            flex-direction: column-reverse;
        }
    }
    
}