@keyframes xpos1 
    {
        from {
            background-position: 0px 0px, 0px 0px
        }
        to { 
            background-position: 500px 156px, -1024px 33px
        }
    }

#Categories
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background-blend-mode: difference;
        animation: 12s linear 1s infinite alternate xpos1;
        padding-left: 30px;
    }