.Writter
    {
        width: 100%;
        background-color: #002e8850;
        //opacity: 0.3;
        margin-left: 50px;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 40px;
        border: 7px solid white;
        color: yellow;
        &_txt
            {
                padding: 20px;
            }
        &_true
            {opacity: 0; transition: opacity 1s ease-in-out;}
        &_false
            {opacity: 1; transition: opacity 1s ease-in-out 1.5s;}
    }