#SinusDots
    {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        background-color: #1d0e3f;
        color: #FFFFFF;
        margin-left: auto;
        margin-right: auto;
    }

#dotsZone
    {
        position: static;
        width: 200px;
        padding: 30px;
    }

.dot
    {
        position: relative;
        width: 1px;
        height: 1px;
        background-color: white;
    }