@import './Tools/Variables.scss';

body
    {
        width: 400px;
        margin-left: none;
        margin-right: none;
        background-color: #000752;
        button
            {
                border: none;
                padding: 0;
            }
        /* Hide scrollbar for Chrome, Safari and Opera */

    }

main
    {
        height: 90VH;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar 
        {
            display: none;
        }
    }
@media screen and (min-width: $desktop)
{
body 
    {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}